<h3>Simple animation for card</h3>
<div
  (mouseenter)="onCardHover()"
  (mouseleave)="onCardLeave()"
  [@cardAnimationWide]="isCardHovered ? 'card-hovered' : 'card-leave'"
  class="card"
>
  <p class="card__title">Some title</p>
  <p class="card__body">
    Ipsum smipsum loren pipsum smipsum smipsum loren pipsum smipsum loren pipsum
  </p>
</div>

<h3>Simple animation for open/close</h3>
<app-open-close></app-open-close>

<h3>Slide animation</h3>
<app-simple-slider></app-simple-slider>

<h3>Slade/Fade in animation</h3>
<app-fade-in></app-fade-in>

<h3>Animated square</h3>
<app-animated-square></app-animated-square>

<h3>Staggered animated list</h3>
<app-staggered-animated-list></app-staggered-animated-list>

<h3>Simple button animation</h3>
<app-simple-button-animation></app-simple-button-animation>
