<nav class="navbar">
  <ul>
    <li>
      <a>Styling</a>
      <ul class="navbar__submenu">
        <li>
          <a routerLinkActive="active" routerLink="/animations"> Animations </a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="/animations2">
            Animations vol.2
          </a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="/transitions">
            Transitions
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a>Cookbook</a>
      <ul class="navbar__submenu">
        <li>
          <a routerLinkActive="active" routerLink="/chapter01">Chapter 01</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="/chapter02">Chapter 02</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="/chapter03">Chapter 03</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
