<div class="example">
  <h3>Simple button transition</h3>
  <button class="color-transition-button">Test</button>
</div>

<div class="example">
  <h3>Navbar submenu with transition</h3>
  <nav class="navbar">
    <ul>
      <li class="navbar__item"><a href="">Home</a></li>
      <li class="navbar__item">
        <a href="">News</a>
        <ul class="navbar__submenu">
          <li class="navbar__item"><a href="">Category A</a></li>
          <li class="navbar__item"><a href="">Category B</a></li>
          <li class="navbar__item"><a href="">Category C</a></li>
        </ul>
      </li>
      <li class="navbar__item"><a href="">Contacts</a></li>
      <li class="navbar__item"><a href="">About us</a></li>
    </ul>
  </nav>
</div>

<div class="example">
  <input
    class="state-transition-input"
    #basicInput
    type="text"
    name="name"
    required
    pattern="abc"
    size="10"
  />
</div>
